<!DOCTYPE html>
<html>
<head>
<title>Primary news viewer</title>

<!-- <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/css/docs.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
 -->
<meta name = "viewport" content = "initial-scale = 1.0">
<link href="/public/lib/jqtouch-1.0-b4-rc/themes/css/apple.css" rel="stylesheet">
<link href="/public/lib/kontext/css/kontext.css" rel="stylesheet">
<link href="/public/lib/stroll.js/css/stroll.css" rel="stylesheet">
<!-- <link href="/public/lib/stroll.js/css/example.css" rel="stylesheet"> -->


<script src="/public/js/lib/require.js" data-main="/public/js/main.js"></script>
</head>
<body>
<div id="jqt" class="supports3d">
	<div id="list" class="item list">
    <div class="toolbar">
      <a href="#" class="back">back</a>
      <h1></h1>
    </div>
    <ul class="content edgetoedge wave">
    </ul>
	</div>

	<div id="view" class="item">
    <div class="toolbar">
      <a href="#" class="back">back</a>
      <h1></h1>
    </div>
    <div class="flicker">
      <div class="inner content">
      </div>
    </div>
	</div>
</div>
<div class="list item fixed-bottom">
  <ul class="content edgetoedge">
  </ul>
</div>
<ul class="circlemenu" style="display:none">
  <li><a href="#">+</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>

</body>
</html>
