<!DOCTYPE html>
<html>
<head>
<title>Primary news viewer</title>

<!-- <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/css/docs.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
 -->
<meta name = "viewport" content = "initial-scale = 1.0">
<link href="/public/lib/jqtouch-1.0-b4-rc/themes/css/apple.css" rel="stylesheet">

<script src="/public/js/lib/require.js" data-main="/public/js/main.js"></script>
</head>
<body>
<div id="jqt" class="animating">
    <div id="list">
        <div class="toolbar">
            <h1>Auto Titles</h1>
        </div>
        <ul class="content edgetoedge">
        </ul>
    </div>
    <div id="view" class="">
        <div class="inner">
            <div class="toolbar">
                <a href="#" class="back">back</a>
                <h1><!-- Will be filled in --></h1>
            </div>
            <div class="content info">
            </div>
        </div>
    </div>
</div>
</body>
</html>
