<!DOCTYPE html>
<html>
<head>
<title>Primary news viewer</title>

<!-- <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/css/docs.css" rel="stylesheet">
<link href="http://twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
 --><link href="/lib/jqtouch-1.0-b4-rc/themes/css/apple.css" rel="stylesheet">

<script src="/js/lib/require.js" data-main="/js/main.js"></script>
</head>
<body>
<div id="jqt" class="animating">
    <div id="list">
        <div class="toolbar">
            <h1>Auto Titles</h1>
        </div>
        <ul class="content edgetoedge">
        </ul>
    </div>
    <div id="view" class="">
        <div class="inner">
            <div class="toolbar">
                <a href="#" class="back">back</a>
                <h1><!-- Will be filled in --></h1>
            </div>
            <div class="content info">
                The title for this page was automatically set from it&#8217;s referring link, no extra scripts required. Just include the extension and this happens.
            </div>
        </div>
    </div>
</div>
</body>
</html>
