<!DOCTYPE html>
<html>
<head>
<title>Primary news viewer</title>

<meta name = "viewport" content = "initial-scale = 1.0">
<link href="/public/css/common.css" rel="stylesheet">
<!-- <link href="/public/lib/jqtouch-1.0-b4-rc/themes/css/apple.css" rel="stylesheet">
<style>
  #jqt ul {margin:0;}
</style>
 --><link href="/public/lib/kontext/css/kontext.css" rel="stylesheet">
<link href="/public/lib/stroll.js/css/stroll.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<script src="/public/js/lib/require.js" data-main="/public/js/main.js"></script>
</head>
<body>
<div id="jqt" class="kontext">
	<div id="list" class="item list layer show">
    <div class="toolbar">
      <a href="#" class="o-btn back"><i class="icon-chevron-left"></i></a>
      <h1></h1>
    </div>
    <div class="crop">
      <ul class="content stroll cards">
      </ul>
    </div>
	</div>

	<div id="view" class="item layer">
    <div class="toolbar">
      <a href="#" class="o-btn back"><i class=" icon-chevron-left"></i></a>
      <h1></h1>
    </div>
    <div class="flicker">
      <div class="inner content">
      </div>
    </div>
	</div>
</div>
<div class="list item fixed-bottom" style="display:none">
  <ul class="content edgetoedge">
  </ul>
</div>
<!--
<ul class="circlemenu" style="display:none">
  <li><a href="#">+</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
-->
</body>
</html>
